Package: com.touchWorld.bilibiliTweak
Name: BilibiliTweak
Version: 2.6.1
Description: 去除哔哩哔哩广告插件
Section: Tweaks
Depends: firmware (>= 5.0), mobilesubstrate
Conflicts: 
Replaces: 
Priority: optional
Author: TouchWorld
dev:
Homepage: https://github.com/TouchFriend/BiliBiliTweak
Depiction:
Maintainer: TouchWorld
Icon: https://touchfriend.github.io/depictions/com.touchWorld.bilibiliTweak/icon.png
Architecture: iphoneos-arm
